.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fffffe;
  
    form {
        display: flex;
        flex-direction: column;
        width: 300px;
        padding: 40px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        background-color: #d1d1e9;
    
    
        img {
            align-self: center;

            height: 40px
        }
    
        h2 {
            text-align: center;
            margin-bottom: 20px;
            margin-top: 0px;
        }
    
        .inputs {
            display: flex;
            flex-direction: column;

            
            label {
                margin-bottom: 5px;
            }
            
            input {
                margin-bottom: 20px;
                padding: 10px;
                border-radius: 5px;
                border: 1px solid #ddd;
            }
            
            button {
                padding: 10px;
                border-radius: 5px;
                border: none;
                background-color: #6246ea;
                color: #fffffe;
                cursor: pointer;
                font-size: 15px;
                font-weight: bold;

                &:hover {
                    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
                }
            }
            
            .Member {
                text-align: center;
                margin-top: 10px;
                
                
                a{
                    color: #6246ea;
                    text-decoration: none;
                    font-weight: bold;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}